/* Write your CSS here */
.about-heading {
  color: #0f172a;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .about-heading {
    font-size: 30px;
  }
}

.about-description {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .about-description {
    font-size: 16px;
  }
}

.education-and-skills-container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .education-and-skills-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

.education-list-container {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .education-list-container {
    width: 45%;
  }
}

.education-skill-heading {
  color: #0f172a;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .education-skill-heading {
    font-size: 24px;
  }
}

.education-list-items-card {
  list-style-image: url('https://assets.ccbp.in/frontend/react-js/list-icon-img.png');
  padding-left: 16px;
}

.qualification {
  color: #334155;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .qualification {
    font-size: 19px;
  }
}

.education-source {
  color: #475569;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
}

.skills-list-container {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .skills-list-container {
    width: 50%;
  }
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Roboto';
  font-size: 23px;
  font-weight: 400;
  padding: 0px;
}

@media screen and (min-width: 768px) {
  .skills-list {
    flex-direction: column;
    align-items: start;
    max-height: 250px;
  }
}

.skill-item {
  list-style: none;
  margin-bottom: 12px;
  margin-right: 8px;
}

@media screen and (min-width: 768px) {
  .skill-item {
    margin-bottom: 24px;
  }
}

.skill {
  color: #ec4899;
  background-color: #ffffff60;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 25px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0px;
}
